*{
	padding: 0;
	margin: 0;
}
html, body{
	height: 100%;
}
.wrap{
height: 400px;
width: 100%;
text-align: center;
margin:  0 auto;
}
a{
	text-decoration: none;
}
nav ul li {
	display: inline-block;
	margin-top: 90px;
	margin-left: 70px;
	
}
nav ul li a{
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 20px;
	border-radius:50% ;
	background-color: red;
	margin-left:-100px ;
	border:10px solid gold;
}
nav ul li :nth-of-type(1):hover{
 color: red;
 background-color: deepskyblue;
 border-color: lightcoral;
 border-radius: 50%;
 transform: scale(1.1);
 z-index: 10;
}
nav ul li :nth-of-type(2):hover{
 color: red;
 background-color:black ;
 border-color: lightcoral;
 border-radius: 50%;
 transform: scale(1.1);
 z-index: 10;
}
nav ul li :nth-of-type(3):hover{
 color: red;
 background-color: gray;
 border-color: lightcoral;
 border-radius: 50%;
 transform: scale(1.1);
 z-index: 10;
}
nav ul li :nth-of-type(4):hover{
 color: red;
 background-color: green;
 border-color: lightcoral;
 border-radius: 50%;
 transform: scale(1.1);
 z-index: 10;
}
nav ul li :nth-of-type(5):hover{
 color: red;
 background-color: blueviolet;
 border-color: lightcoral;
 border-radius: 50%;
 transform: scale(1.1);
 z-index: 10;
}
@font-face {
	font-family:LigatureSymbols;
	src: url(../img/LigatureSymbols.svg);
	src: url(../img/LigatureSymbols.svg);
	src: url(../img/LigatureSymbols.svg);
	src: url(../img/LigatureSymbols.svg);
}



