*{
	padding: 0;
	margin: 0;
}.dada{
	text-align: center;
	margin: 0 auto;
}
div li{
	display: inline-block;
	height: 200px;
	line-height: 200px;
    width: 200px;
    background: aqua;
    border-radius: 50%;
    margin-left: -50px;
    margin-top: 50px;
    border: 5px solid aquamarine;
}
a{
	text-decoration: none;
	font-size: 25px;
}
div ul span first-of-type{
	font-family: "微软雅黑";
	display: block;
	height:50px;
	width: 50px;
}
 li span:first-of-type:before{
	content: 'HOME';
}

div ul li:hover{
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
}

