USE [master]
GO
/****** Object:  Database [student1]    Script Date: 2017/12/20 18:01:17 ******/
CREATE DATABASE [student1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'student1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\student1.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'student1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\student1_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [student1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [student1]
GO
/****** Object:  Table [dbo].[course1]    Script Date: 2017/12/20 18:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course1](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[cname] [nvarchar](20) NULL,
 CONSTRAINT [PK_course1] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[score1]    Script Date: 2017/12/20 18:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[score1](
	[scid] [int] IDENTITY(1,1) NOT NULL,
	[sid] [int] NULL,
	[cid] [int] NULL,
	[score] [decimal](10, 2) NULL,
 CONSTRAINT [PK_score1] PRIMARY KEY CLUSTERED 
(
	[scid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[student1]    Script Date: 2017/12/20 18:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student1](
	[sid] [int] IDENTITY(1,1) NOT NULL,
	[sname] [nvarchar](30) NULL,
	[sex] [nvarchar](10) NULL,
	[sage] [int] NULL,
	[class] [nvarchar](20) NULL,
	[city] [nvarchar](20) NULL,
 CONSTRAINT [PK_student1] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
