*{
	padding: 0;
	margin: 0;
}
body{
	height: 100%;
}
.warp{
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
}
a{
	text-decoration: none;
}
ul ,li{
	list-style: none;
}
.r{
	float: right;
}
.l{
	float: left;
	height: 100%;
}
.top{
	padding: 20px;
}
.top-r a{
	font-size: 12px;
	color: black;
}
.top-r{
	display: inline-block;
	height: 30px;
	width: 863px;
	line-height: 30px;
	background-color: #FFEFEF;
	border: 1px solid #FFC0CC;
	margin: 10px;
}
.zhong img{
	width: 100%;
	height: 500px;
}
.zhong-r{
	height: 350px;
	width: 348px;
	background-color: #FFDCD8;
	border: 1px solid white;
	opacity:0.8;
	z-index: 50;
	position: absolute;
	top: 240px;
	left: 1080px;
	padding: 20px;	
	text-align: center;
	overflow: hidden;
	
	
}
.content input{
	width: 250px;
	height: 42px;
	margin-bottom: 100px;
	}
.content input:nth-of-type{3}{
	background-color: #FE556F;
	color: white;
	}
.warp .content :nth-of-type(3){
	background-color: #FE556F;
	color: white;
}
.warp .content1 :nth-of-type(3){
	background-color: #FE556F;
	color: white;
}
.warp .content1 input:nth-of-type(2){
	display: inline-block;
	height: 52px;
	width: 120px;
	background-color:lightcoral;
	}
	.warp .content active:nth-of-type(2) input:nth-of-type(2){
		width: 200px;
	}
.top3{
	height: 100px;
	border-bottom: 2px palevioletred solid;
}

.top3 div{
	margin-top: 30px;
	margin-left: 120px;
	width: 200px;
}
.top3 div:nth-of-type(1){
	margin-left: 0;
}

.top3 ul li span{
	margin-left: 20px;
}
.top3 div a{
  display: block;
margin-left: 60px;
color: black;
font-weight: 700;
}
.top4  li {
	margin-top: 10px;
	display: inline-block;
}
.top4 li a {
	 color: #000000;
	 font-weight: 400;
	 opacity: 0.8;
	 margin-left: 20px;
}
.top4-r{
	margin-top: -25px;
	height: 30px;
	background-color: royalblue;
	line-height: 30px;
	font-size: 16px;
}

