*{
	margin: 0;
	padding: 0;
}
body{
	background-color: aliceblue;
	width: 100%;
	height: 100%;
}
.div{
	width: 100%;
	height: 650px;
	background-color: #FFE4C4;
	position: absolute;
	-webkit-animation:beijing 5s ease infinite normal;
}
.div3{

	width: 157px;
	height: 227px;
	background: url(../img/balloon.png) no-repeat;
	position:absolute;
	top:5%;
	left: -150px;
	z-index: 70;
  -webkit-animation:qiqiu 5s ease  infinite alternate;
}
@-webkit-keyframes  qiqiu{

	25%{
		left: 25%;
		-webkit-transform: rotate(30deg);
	}
	50%{
		left: 50%;
		-webkit-transform: rotate(60deg);
	}
	75%{
		left: 75%;
		-webkit-transform: rotate(30deg);
	}
	100%{
		left: 100%;
		-webkit-transform: rotate(0deg);
	}
}
@-webkit-keyframes  beijing{
10%{
	background-color: green;
}
	25%{
		background-color: navy;
	}
	50%{
		background-color: darkorchid;
		
	}
	75%{
		background-color: crimson;
		
	}
	100%{
		background-color: beige;
		
	}
}

.front{
	width: 100%;
	height: 301px;
	top: 350px;
	background: url(../img/groundFront.png) repeat-x center;
	z-index: 90;
	position: absolute;
	
}
.back{
	width: 100%;
	height: 301px;
	top:350px;
	background: url(../img/groundMid.png) repeat-x ;
	z-index: 70;
	position: absolute;
}

.mid{
	width: 100%;
	height: 301px;
	top:350px;
	background: url(../img/groundBack.png) repeat-x center;
	z-index: 60;
	position: absolute;
}
.fan{
	width: 500px;
	height: 200px;
	background: url(../img/dowEventCenter.png);
	position: absolute;
	left: 100px ;
	top: 50%;
	z-index: 65;
}
.fan1{
	width: 250px;
	height: 370px;
	background: url(../img/friendshipShell.png)no-repeat;
	position: absolute;
	left: 350px ;
	top: 25%;
	z-index: 75;
}
.fan2{
	width: 250px;
	height: 300px;
	background: url(../img/Glockenspiel.png)no-repeat;
	position: absolute;
	left: 700px ;
	top: 40%;
	z-index: 75;
}
.fan3{
	width: 150px;
	height: 200px;
	background: url(../img/beans.png)no-repeat;
	position: absolute;
	left: 850px ;
	top: 44%;
	z-index: 55;
}
.fan4{
	width: 400px;
	height: 250px;
	background: url(../img/Planetarium.png)no-repeat;
	position: absolute;
	right: 50px ;
	top: 40%;
	z-index: 65;
}
.fan5{
	width: 200px;
	height: 150px;
	background: url(../img/cloudMedium.png)no-repeat;
	position: absolute;
	right: 50px ;
	top: 10%;
	z-index: 65;
	opacity: 0.6;
	-webkit-animation: yuncai 10s ease infinite alternate;
	
}
.fan6{
	width: 300px;
	height: 200px;
	background: url(../img/cloudLarge.png)no-repeat;
	position: absolute;
	left: 300px ;
	top: 8%;
	z-index: 65;
	opacity: 0.6;
	-webkit-animation: yuncai 10s ease infinite alternate;
}
.fan7{
	width: 300px;
	height: 200px;
	background: url(../img/cloudLarge.png)no-repeat;
	position: absolute;
	left: 700px ;
	top: 8%;
	z-index: 65;
	opacity: 0.6;
	-webkit-animation: yuncai 10s ease infinite alternate;
	
}
@-webkit-keyframes yuncai{
	25%{
	-webkit-transform:translateX(100px)  ;
	}
	50%{
	-webkit-transform:translateX(50px)  ;
	}
	75%{
	-webkit-transform:translateX(0px)  ;
	}
	100%{
	-webkit-transform:translateX(100px) ;
		
	}
}