*{
	margin: 0;
	padding: 0;
}
.div1{
	height: 650px;
	width: 100%;
	background-color: aliceblue;
	-webkit-animation: hh 8s linear infinite alternate;
}
@-webkit-keyframes hh{
	0%{
		background: aliceblue;
	}
	25%{
		background: bisque;
	}
	50%{
		background: chocolate;
	}
	75%{
		background: brown;
	}
	100%{
		background: darkblue;
	}
}
.div1 a{
	display: block;
	width: 157px;
	height: 227px;
	background: url(../img/balloon.png);
	position: absolute;
	top:0;
	z-index: 110;
	-webkit-animation:hehe 9s ease infinite alternate;
}
@-webkit-keyframes hehe{
	0%{
		left: -200px;
		-webkit-transform: rotate(30deg);
	}
	20%{
		left: 20%;
		-webkit-transform: rotate(45deg);
	}
	40%{
		left: 40%;
		-webkit-transform: rotate(60deg);
	}
	60%{
		left: 60%;
		-webkit-transform: rotate(30deg);
	}
	80%{
		left: 80%;
		-webkit-transform: rotate(0deg);
	}
	100%{
		left: 90%;
		-webkit-transform: rotate(-30deg);
	}
}
.ground{
	position: absolute;
}
.front{
	height: 301px;
	width: 100%;
	background: url(../img/groundFront.png) repeat-x;
	top: 350px;
	z-index: 90;
}
.mid{
	height: 299px;
	width: 100%;
	background: url(../img/groundMid.png) repeat-x;
	top: 350px;
	z-index: 80;
	background-position: center;
}
.back{
	height: 281px;
	width: 100%;
	background: url(../img/groundBack.png) repeat-x;
	top: 300px;
	z-index: 70;
}
.quan{
	height: 350px;
	width: 231px;
	background: url(../img/friendshipShell.png) no-repeat;
	top: 200px;
	left: 400px;
	z-index: 75;
}
.wan{
	height: 229px;
	width: 520px;
	background: url(../img/dowEventCenter.png) no-repeat;
	top: 250px;
	left: 20px;
	z-index: 73;
}
.hehe{
	height: 263px;
	width: 137px;
	background: url(../img/Glockenspiel.png) no-repeat;
	top: 200px;
	left: 680px;
	z-index: 70;
}
.haha{
	height: 201px;
	width: 88px;
	background: url(../img/beans.png) no-repeat;
	top: 200px;
	left: 850px;
	z-index: 65;
}
.shitou{
	height: 285px;
	width: 347px;
	background: url(../img/Planetarium.png) no-repeat;
	top: 200px;
	left: 1000px;
	z-index: 70;
}
.fangzi{
	height: 285px;
	width: 347px;
	background: url(../img/skyline.png) no-repeat;
	top: 230px;
	left: 300px;
	z-index: 60;
}
.yuncai1{
	height: 169px;
	width: 302px;
	background: url(../img/cloudLarge.png) no-repeat;
	top: 20px;
	left: 50px;
	z-index: 100;
	-webkit-animation:haha 6s ease infinite alternate;
}
.yuncai2{
	height: 92px;
	width: 159px;
	background: url(../img/cloudMedium.png) no-repeat;
	top: 40px;
	left: 350px;
	z-index: 100;
	-webkit-animation:haha 6s ease infinite alternate;
}
.yuncai3{
	height: 50px;
	width: 89px;
	background: url(../img/cloudSmall.png) no-repeat;
	top: 50px;
	left: 800px;
	z-index: 100;
	-webkit-animation:haha 6s ease infinite alternate;
}
@-webkit-keyframes haha{
	0%{
		-webkit-transform: translateX(-20px);
	}
	
	100%{
		-webkit-transform: translateX(500px);
	}
	
}