* {
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
}

.warp {
	margin: 0 auto;
	width: 1200px;
	overflow: hidden;
}

a {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

.r {
	float: right;
}

.l {
	float: left;
}

.top {
	width: 100%;
	height: 35px;
	background: gainsboro;
	line-height: 35px;
}
.top1 a{
	margin-left: 10px;
	color: grey;
}

.top2 {
	height: 120px;
}

.top2-r,.top2-l {
	margin-top: 30px;
}

.top2-r-top input:nth-of-type(1) {
	height: 35px;
	width: 70px;
	line-height: 35px;
	border: 1px solid #FF0077;
	border-right: 0px;
}

.top2-r-top input:nth-of-type(2) {
	height: 35px;
	width: 300px;
	border: 1px solid #FF0077;
	border-left: 0px;
	margin-left:-4px ;
}

.top2-r input:nth-of-type(3) {
	height: 37px;
	width: 55px;
	line-height: 35px;
	border: 0px solid;
	background-color: #FF0077;
	color: white;
	margin-left:-5px ;
	border-radius: 0px 7px 7px 0px ;
	
}
.top2-r-down a{
	margin-right: 10px;
	color: #808080;
}
.top3{
	height: 40px;
	border-bottom: 2px solid #FF0077;
}
.top3 ul li{
	text-align: center;
	display: inline-block;
}
.top3 ul li:first-of-type{
	width: 257px;
	height: 40px;
	background-color: #FF0077;
	color: white;
	line-height: 40px;
	border-color:red transparent transparent ;
}
.top3 ul li:nth-of-type(2){
	width: 141px;
	height: 20px;
	line-height: 20px;
}
.top3 ul li:nth-of-type(3){
	width: 141px;
	height: 20px;
	line-height: 20px;
	border-left: 1px;
	border-left: 2px solid gainsboro;
	
	
}
.top3 ul li:nth-of-type(4){
	width: 141px;
	height: 20px;
	line-height: 20px;
	border-left: 2px solid gainsboro;
}
.menu ul{
	width: 256px;
	height: 31px;
	background-color: pink;
}
.menu-l ul li{
	margin-left:12px ;
	display: inline-block;
}

