USE [master]
GO
/****** Object:  Database [Skhool]    Script Date: 2017/12/20 17:21:54 ******/
CREATE DATABASE [Skhool]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Skhool', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Skhool.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Skhool_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Skhool_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Skhool].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Skhool]
GO
/****** Object:  Table [dbo].[course]    Script Date: 2017/12/20 17:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[course](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[Cname] [varchar](50) NULL,
	[Cpno] [char](10) NULL,
	[Ccredit] [tinyint] NULL,
 CONSTRAINT [PK_course] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SC]    Script Date: 2017/12/20 17:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SC](
	[scid] [int] IDENTITY(1,1) NOT NULL,
	[sid] [int] NULL,
	[cid] [int] NULL,
	[Grade] [decimal](12, 2) NULL,
 CONSTRAINT [PK_SC] PRIMARY KEY CLUSTERED 
(
	[scid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 2017/12/20 17:21:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[sid] [int] IDENTITY(1,1) NOT NULL,
	[Sname] [nvarchar](50) NULL,
	[Ssex] [nvarchar](50) NULL,
	[Sage] [smallint] NULL,
	[Sdept] [varchar](50) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[course] ON 

INSERT [dbo].[course] ([cid], [Cname], [Cpno], [Ccredit]) VALUES (1, N'SX', N'ps        ', 98)
INSERT [dbo].[course] ([cid], [Cname], [Cpno], [Ccredit]) VALUES (2, N'JAVA', N'PS        ', 85)
INSERT [dbo].[course] ([cid], [Cname], [Cpno], [Ccredit]) VALUES (3, N'JSJ', N'server    ', 77)
SET IDENTITY_INSERT [dbo].[course] OFF
SET IDENTITY_INSERT [dbo].[SC] ON 

INSERT [dbo].[SC] ([scid], [sid], [cid], [Grade]) VALUES (1, NULL, NULL, CAST(88.00 AS Decimal(12, 2)))
INSERT [dbo].[SC] ([scid], [sid], [cid], [Grade]) VALUES (2, NULL, NULL, CAST(55.00 AS Decimal(12, 2)))
INSERT [dbo].[SC] ([scid], [sid], [cid], [Grade]) VALUES (3, NULL, NULL, CAST(66.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[SC] OFF
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([sid], [Sname], [Ssex], [Sage], [Sdept]) VALUES (1, N'张三', N'男', 20, N'SX')
INSERT [dbo].[Student] ([sid], [Sname], [Ssex], [Sage], [Sdept]) VALUES (2, N'李四', N'女', 21, N'JSJ')
INSERT [dbo].[Student] ([sid], [Sname], [Ssex], [Sage], [Sdept]) VALUES (3, N'王五', N'男', 21, N'JAVA')
SET IDENTITY_INSERT [dbo].[Student] OFF
ALTER TABLE [dbo].[SC]  WITH CHECK ADD  CONSTRAINT [FK_SC_course] FOREIGN KEY([cid])
REFERENCES [dbo].[course] ([cid])
GO
ALTER TABLE [dbo].[SC] CHECK CONSTRAINT [FK_SC_course]
GO
ALTER TABLE [dbo].[SC]  WITH CHECK ADD  CONSTRAINT [FK_SC_Student] FOREIGN KEY([sid])
REFERENCES [dbo].[Student] ([sid])
GO
ALTER TABLE [dbo].[SC] CHECK CONSTRAINT [FK_SC_Student]
GO
USE [master]
GO
