* {
	margin: 0;
	padding: 0;
}

body {
	background-color: darkgray;
}

.div {
	width: 800px;
	height: 800px;
	margin: 30px auto;
	text-align: center;
}

.div div {
	position: absolute;
	left: 300px;
	top: 200px;
	-webkit-transform: rotateX(30deg);
	-moz-transform: rotateX(30deg);
	-webkit-transform-style: preserve-3d;
	perspective: 1000px;
}

.div div img {
	width: 173px;
	opacity: 0.6;
}

.div div img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1) ;
	z-index: 100;
	
}

.d1 img {
	-webkit-transform: rotateY(0deg) translateZ(150px);
}

.d2 img {
	-webkit-transform: rotateY(60deg) translateZ(150px);
}

.d3 img {
	-webkit-transform: rotateY(120deg) translateZ(150px);
}

.d4 img {
	-webkit-transform: rotateY(180deg) translateZ(150px);
}

.d5 img {
	-webkit-transform: rotateY(-120deg) translateZ(150px);
	-moz-transform: rotateY(-120deg) translateZ(150px);
}

.d6 img {
	-webkit-transform: rotateY(-60deg) translateZ(150px);
	-moz-transform: rotateY(-60deg) translateZ(150px);
}